.jumbotron
  %h1
    = image_tag("Nectar Logo/nectar.svg", border: "0", class: "icon", width: "100") + ' Nectar'
  %p
    Nectar adds support for more integrations on #{link_to 'Beeminder', 'https://beeminder.com', :target => "_blank"}.
    %br
    Automatically gets data from supported integrations and adds it to Beeminder goals.
    %br
    %br
    If you have questions, ask in Beeminder's #{link_to 'Forum', 'http://forum.beeminder.com', :target => "_blank"}.
    %br
    If you would like to submit feedback, send us an #{link_to 'e-mail', 'https://www.google.com/recaptcha/mailhide/d?k=01e98wMuv51P2LwvcSHQoIsg==&c=P0aHrZvc18pZZaywalxe80A1UV9jiKDP6MMx-CT5Srs=', :onclick => "window.open('https://www.google.com/recaptcha/mailhide/d?k\\x3d01e98wMuv51P2LwvcSHQoIsg\\x3d\\x3d\\x26c\\x3dP0aHrZvc18pZZaywalxe80A1UV9jiKDP6MMx-CT5Srs\\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;", :title => "Reveal this e-mail address"}.
