.jumbotron
  %h1
    = image_tag("Nectar Logo/nectar.svg", border: "0", class: "icon", width: "100px") + ' Nectar'
  %p
    Nectar adds support for more integrations on #{link_to 'Beeminder', 'https://beeminder.com', :target => "_blank"}.
    %br
    Automatically gets data from supported integrations and adds it to Beeminder goals.
