.jumbotron
  %h1
    &#x1F41D;
    Nectar
  %p
    Nectar adds support for more integrations on #{link_to 'Beeminder', 'https://beeminder.com', :target => "_blank"}.
    %br
    Automatically gets data from supported integrations and adds it to Beeminder goals.
