- content_for :title do
  Nectar | Home

.row
  = render "welcome"
.row-fluid
  - if current_user
    %h2 Welcome, #{current_user.beeminder_user_id}!
  - else
    %p
      Please,
      =link_to "Log in", signin_path
      with your Beeminder account.
.row
  - if current_user && current_user.goals.count > 0
    = render "my_goals"
.row-fluid#main_metrics
  = render "metrics"

