- content_for :title do
  Nectar | Home

.row
  = render "welcome"
.row
  - if current_user && current_user.goals.count > 0
    = render "my_goals"
- unless current_user
  .row-fluid
    %p
      Please,
      =link_to "Log in", signin_path
      with your Beeminder account.
.row-fluid#main_metrics
  = render "metrics"

