- content_for :title do
  Nectar | Home

.row
  = render "welcome"
.row
  - if current_user && current_user.goals.count > 0
    = render "my_goals"
.row-fluid
  %p
    - if current_user
      Welcome, #{current_user.beeminder_user_id}!
    - else
      Please,
      =link_to "Log in", signin_path
      with your Beeminder account.
.row-fluid#main_metrics
  = render "metrics"

